/**
  * Font Face
  * Use local fonts to avoid GDPR problems and improve performance
  * Google fonts can be found here: https://google-webfonts-helper.herokuapp.com/fonts
  * Remember to add font-display: swap to generate FOUT
 */

@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 300
  src: local(''), url('../fonts/inter-v1-latin-ext_latin-300.woff2') format('woff2'), url('../fonts/inter-v1-latin-ext_latin-300.woff') format('woff')

@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 200
  src: local(''), url('../fonts/inter-v1-latin-ext_latin-200.woff2') format('woff2'), url('../fonts/inter-v1-latin-ext_latin-200.woff') format('woff')

@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 400
  src: local(''), url('../fonts/inter-v1-latin-ext_latin-regular.woff2') format('woff2'), url('../fonts/inter-v1-latin-ext_latin-regular.woff') format('woff')

@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 500
  src: local(''), url('../fonts/inter-v1-latin-ext_latin-500.woff2') format('woff2'), url('../fonts/inter-v1-latin-ext_latin-500.woff') format('woff')

@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 700
  src: local(''), url('../fonts/inter-v1-latin-ext_latin-700.woff2') format('woff2'), url('../fonts/inter-v1-latin-ext_latin-700.woff') format('woff')

@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 600
  src: local(''), url('../fonts/inter-v1-latin-ext_latin-600.woff2') format('woff2'), url('../fonts/inter-v1-latin-ext_latin-600.woff') format('woff')

@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 800
  src: local(''), url('../fonts/inter-v1-latin-ext_latin-800.woff2') format('woff2'), url('../fonts/inter-v1-latin-ext_latin-800.woff') format('woff')

@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 900
  src: local(''), url('../fonts/inter-v1-latin-ext_latin-900.woff2') format('woff2'), url('../fonts/inter-v1-latin-ext_latin-900.woff') format('woff')
