ul.c-mobile-menu
  list-style: none
  padding: 0
  margin: 0
  font-size: 18px
  & > li
    display: block
    position: relative
    border-bottom: 1px solid #ECECEC
    padding: 0.5em 0
    &:last-child
      border: 0
    &.opened
      .sub-menu
        opacity: 1
        pointer-events: auto
        transform: translateY(0)
        left: 0
        transition: opacity 0.2s cubic-bezier(0.55, 0, 0.1, 1) 0.1s, transform 0.2s cubic-bezier(0.55, 0, 0.1, 1) 0.1s, left 0s 0s ease
      & > a:before
        width: 100%
    & > a
      display: block
      text-decoration: none
      border-radius: 5px
      color: $color-text
      position: relative
      &:hover,
      &:focus
        text-decoration: none
        // color: theme('colors.main')
      &.expanded::after
        transform: rotate(-180deg)
    &.menu-item-has-children
      & > a
        padding-right: 1.5em
        &:after
          content: ' '
          position: absolute
          right: 0px
          top: calc(50% - 12px)
          width: 24px
          height: 24px
          transition: all 0.4s ease-in-out
          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiPgogIDxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMTkgOWwtNyA3LTctNyIgLz4KPC9zdmc+)
          background-size: 24px 24px

    &.current-menu-item a,
    &.current_page_parent a
      color: theme('colors.main')
  ul
    padding-top: 0.75rem
    margin: 0
    font-size: 16px
    li
      margin-bottom: 0.25rem
      padding-left: 1.5rem
      position: relative
      &::before
        content: ' '
        position: absolute
        left: 0
        top: 0.7em
        width: 13px
        height: 2px
        background: $color-main
      &:last-child
        margin-bottom: 0
    a
      color: theme('colors.color-text')
      text-decoration: none
      &:hover
        text-decoration: none
        color: #000